button{
    background-color: #FFD550;
    color: black;
    border-radius: 1rem;
    font-family: 'Poppins';
}
.addtags{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}