.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    margin-bottom: 5rem;
  }
  .topmenu{
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 12;
  }
  .textlogo{
    font-family: 'Poppins', sans-serif;
  }
  .logo{
    width: 3rem;
    position: absolute;
    top: 0.5rem;
    left: 12px;
  }
  .topmenu a {
    display: inline-block;
  }

  /* #myLinks a:hover {
    background-color: #ddd;
    color: black;
  } */
 
  /* .topnav #myLinks {
    transition: 0.3s all ease-in-out;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 11;
  } */
  
  .topnav a {
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-size: clamp(1rem,1rem,1rem);
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
  }
  
  .active {
    background-color: black;
    color: white;
  }

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    align-items: center;
    vertical-align: middle;
    display: flex;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: black;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: white;
    color: black;
  }

  .menu__item::after{
    content: "";
    margin-top: 10%;
    width: 30%;
    height: 0.5%;
    left: 0;
    margin-left: 35%;
    position: absolute;
    background-color: #FFD550;
    border-radius: 2px;
}