.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    margin-bottom: 5rem;
  }
  .topmenu{
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 12;
  }
  .textlogo{
    font-family: 'Poppins', sans-serif;
  }
  .logo{
    width: 3rem;
    position: absolute;
    top: 0.5rem;
    left: 12px;
  }
  .topmenu a {
    display: inline-block;
  }
  
  .topnav #myLinks {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 11;
  }
  
  .topnav a {
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-size: clamp(1rem,1rem,1rem);
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
  }
  
  .active {
    background-color: black;
    color: white;
  }