.container-tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tags a h3{
    padding: 5vw;
    border: 1px solid white;
    border-radius: 1rem;
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 5vw;
}

.tags a{
    text-decoration: none;

}

.tags{
    width: clamp(42vw,15vw,15vw);
}